body{background-color:silver;}

h1{color:blue;
font-size:44px;
text-align:center;}

li{display:inline-block;
}
	a{
font-size:26px;
color:blue;
padding:10px;
text-decoration:none;}

ul{position:absolute;
top:0;
left:0;}

a:hover{color:cyan;}
	p{text-align:center;}
