<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
      <link rel="stylesheet" href="style.css">
	</head>

	<body>
		<h1>Home</h1>
		<ul>
		<li><a href="/gallery">Gallery</a></li>
		<li><a href="/contact">contact</a></li>
		<li><a href="/location">location</a></li>
		</ul>
		<p>HI BOB HERE.WELCOME TO MY WEBSITE. I HAVE EXPERIENCE IN TOP LEVEL GRAPHIC DESIGN.</p>
      <img src="pic1.jpg">
	</body>

</html>