<!DOCTYPE HTML>
<html>
	<head>
		<title>Location</title>
       <link rel="stylesheet" href="style.css">
	</head>

	<body>
	   <h1>Location</h1>
	    <p>121 west road<br>west city<br>county west<br>w1 111</p>
	 <ul>
		<li><a href="/home">home</a></li>
		<li><a href="/gallery">Gallery</a></li>
		<li><a href="/contact">contact</a></li>
	</ul>
		<img src="pic2.jpg">
	</body>





</html>